  <div class="card-filter">

  <h3>Filter results by: </h3>

  <% if params[:filters] != nil %>
  <%= simple_form_for :filters, url: items_path, defaults: { required: false }, id: "filter-form", method: :get do |f| %>
    <%= f.input :category, collection: Item::CATEGORY, as: :check_boxes, input_html: { class: "tag-selector" }, checked: params[:filters][:category], item_wrapper_class: 'tag-item', label: 'Choose Category:'%>
    <%= f.input :price, collection: Item::PRICE , as: :radio_buttons, input_html: { class: "tag-selector" }, item_wrapper_class: 'tag-item', checked: params[:filters][:price], label: 'Sort by Price:' %>

    <%= f.button :submit, class: "btn btn-flat" %>

    <% end %>

  <% else %>
    <%= simple_form_for :filters, url: items_path, method: :get do |f| %>
      <%= f.input :category, collection: Item::CATEGORY, as: :check_boxes, input_html: { class: "tag-selector" }, item_wrapper_class: 'tag-item', label: 'Choose Category:'%>
      <%= f.input :price, collection: Item::PRICE , as: :radio_buttons, input_html: { class: "tag-selector" }, item_wrapper_class: 'tag-item', label: 'Sort by Price:' %>

      <%= f.button :submit, class: "btn btn-flat" %>

    <% end %>
  <% end %>

    <p class="btn" id="clear-filters">Reset Filters</p>
  </div>
