<div class="container">
  <%= simple_form_for(@item) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :category, collection: Item::CATEGORY %>
      <%= f.input :description %>
      <%= f.input :price %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    </div>

    <div type="button" id="edit-submit" class="btn btn-lg btn-block">
      <%= f.button :submit %>
    </div>
  <% end %>

</div>
