<h2>Post Item</h2>
<%= simple_form_for item do |f| %>
  <div class="form-inputs">
    <%= f.input :name,
                required: true,
                autofocus: true %>
    <%= f.input :description,
                required: true,
                autofocus: true %>
    <%= f.input :category, collection: ['Surf', 'Trek', 'Winter Sports', 'Dive', 'Bike', 'Other'],
                required: true,
                autofocus: true %>
    <%= f.input :price,
                as: :numeric,
                required: true,
                autofocus: true %>
    <%= f.input :photo, as: :file, input_html: { multiple: true } %>
  </div>
  <%= f.button :submit, class: 'btn btn-primary btn-lg btn-block', value: "Post" %>
<% end %>
