
<h2>Post Item</h2>
<%= simple_form_for item do |f| %>
  <div class="form-inputs">
    <%= f.input :name,
                required: true,
                autofocus: true %>
    <%= f.input :description,
                required: true,
                autofocus: true %>
    <%= f.input :category, collection: ['surf', 'trek', 'mountain-climb', 'ski', 'snowboard', 'mountain-bike', 'skydive'],
                required: true,
                autofocus: true %>
    <%= f.input :photo, as: :file %>
  </div>
  <%= f.button :submit, class: 'btn btn-primary btn-lg btn-block', value: "Post" %>
<% end %>
