<div class="banner">
    <div class="banner-text">
      <h3>Find what suits <em>you</em></h3>
    </div>
    <%= render "shared/searchform" %>
</div>

<div class="cards-grid" >

  <%# Winter Sports %>
  <%= link_to items_path(filters:{"category"=>["", "Winter Sports"], "price"=>""}) do %> 
    <div class="card-category" style="background-image: url(https://images.unsplash.com/photo-1600356604219-84058a7b2bce?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8c2tpfHx8fHx8MTYyOTg5Mjk3OQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080);">
      <div class="card-info">
        <h2>Winter Sports</h2>
        <p>Ride down the mountain with confidence</p>
      </div>
      <div class="overlay">
        <div class="text">Show more</div>
      </div>
    </div>
  <% end %>

    <%# Trek %>
  <%= link_to items_path(filters:{"category"=>["", "Trek"], "price"=>""}) do %> 
    <div class="card-category" style="background-image: url(https://images.unsplash.com/photo-1486037242572-f25faf7505e3?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8aGlrZXx8fHx8fDE2Mjk4OTMwNjY&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080);">
      <div class="card-info">
        <h2>Trek</h2>
        <p>It's no fun without the gear</p>
      </div>
      <div class="overlay">
        <div class="text">Show more</div>
      </div>
    </div>
  <% end %>

    <%# Surf %>
  <%= link_to items_path(filters:{"category"=>["", "Surf"], "price"=>""}) do %> 
    <div class="card-category" style="background-image: url(https://images.unsplash.com/photo-1526342256246-b67e94be5c79?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8c3VyZnx8fHx8fDE2Mjk4OTMxMTU&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080);">
      <div class="card-info">
        <h2>Surf</h2>
        <p>Improve your surf with top notch equipment</p>
      </div>
      <div class="overlay">
        <div class="text">Show more</div>
      </div>
    </div>
  <% end %>

    <%# Dive %>
  <%= link_to items_path(filters:{"category"=>["", "Dive"], "price"=>""}) do %>
    <div class="card-category" style="background-image: url(https://images.unsplash.com/photo-1580128789542-d484253e94a3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHNjdWJhfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);">
      <div class="card-info">
        <h2>Dive</h2>
        <p>Go underwater with just the right help</p>
      </div>
      <div class="overlay">
        <div class="text">Show more</div>
      </div>
    </div>
  <% end %>

    <%# Bike %>
  <%= link_to items_path(filters:{"category"=>["", "Bike"], "price"=>""}) do %>
    <div class="card-category" style="background-image: url(https://images.unsplash.com/photo-1506316940527-4d1c138978a0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8YmlrZXx8fHx8fDE2Mjk4OTMwOTE&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080);">
      <div class="card-info">
        <h2>Bike</h2>
        <p>Ride down the moutain with the right tools</p>
      </div>
      <div class="overlay">
        <div class="text">Show more</div>
      </div>
    </div>
  <% end %>

    <%# Other %>
  <%= link_to items_path(filters:{"category"=>["", "Other"], "price"=>""}) do %> 
    <div class="card-category" style="background-image: url(https://images.unsplash.com/photo-1620654458602-b27e08e8afb3?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8c2t5ZGl2ZXx8fHx8fDE2Mjk4OTMyMDY&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080);">
      <div class="card-info">
        <h2>Other</h2>
        <p>Explore all the other equipment we have to offer</p>
      </div>
      <div class="overlay">
        <div class="text">Show more</div>
      </div>
    </div>
  <% end %>
</div>
