<div class="row my-4 mx-0">
  <div class="col-7">
    <ul class="list-inline tabs-underlined my-2 mx-5">
      <li>
        <h3><a href="<%= listings_path(current_user) %>" class="tab-underlined">My Listings</a></h3>
      </li>
      <li>
        <h3><a href="<%= purchases_path(current_user) %>" class="tab-underlined active">Past Purchases</a></h3>
      </li>
      <li>
        <h3><a href="<%= settings_path(current_user) %>" class="tab-underlined">Settings</a></h3>
      </li>
    </ul>
    <div class="cards">
      <% current_user.bookings.each do |booking| %>
      <% raise %>
        <div class="card-product">
          <%= cl_image_tag booking.item.photos.first.key %>
          <div class="card-product-infos">
            <a href="<%= item_path(booking.item) %>"><h2><%= booking.item.name %></h2></a>
            <p><%= booking.item.description %></p>
            <p>£<%= booking.item.price %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
