<div class="main-container">
  <div class="search-form">
    <%= render "shared/searchform" %>
  </div>
  <div class="index-container">
  <div class="col-4">
    <%= render "shared/filterform" %>
  </div>
  <div class="col-8">
    <div class="card-container">
      <div class="cards">
        <% @items.each do |item| %>
          <div class="card-product">
            <%= cl_image_tag item.photos.first.key %>
              <div class="card-product-infos">
                <a href="<%= item_path(item) %>"><h2><%= item.name %></h2></a>
                <p> <%= truncate(item.description, length:100, separator: ' ', omission: '... (see more)') %></p>
                <div class="card-product-price">
                  £<%= item.price %>0 per day
              </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  </div>
</div>
