<div class="container">
  <div class="product-info">
    <%= link_to items_path do %>
      <i class="fas fa-chevron-left"></i><p> Back</p>
    <% end %>
    <h1 class="product-info text-center"><%= @item.name.capitalize %></h1>
  </div>
  <div class="product-subinfo">
    <h4><em><%= @item.category %></em></h2>
    <div class="action-buttons">
      <% if current_user == @item.user %>
        <i class="far fa-edit"></i><%= link_to 'Edit', edit_item_path(@item) %>
        <i class="far fa-trash-alt"></i><%= link_to 'Delete', item_path(@item), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </div>

  <div class="pics-info">
    <div class="total-carousel">
      <% if @item.photos.size == 1 %>
        <div class="one-image">
          <img class="d-block w-100" src="<%= cl_image_path @item.photos.first.key %>" alt="photo" >
        </div>
      <% elsif @item.photos.size > 1 %>

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% @item.photos.size.times do |index| %>
              <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= index == 0 ? "active" : "" %>"></li>
            <% end %>
          </ol>

          <div class="carousel-inner">
            <% @item.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= index == 0 ? "active" : "" %>">
                <img class="d-block w-100" src="<%= cl_image_path photo.key %>" alt="<%= index.ordinalize %> image">
              </div>
            <% end %>
          </div>

          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      <% end %>
    </div>
    <div class="info-box">
      <h2><strong>Additional Information</strong></h2>
      <p><%= @item.description %></p>
      <p>£<%= @item.price %>0 per day</p>
      <%= link_to 'Book Now', item_path(@item), class: 'btn-ghost' %>
    </div>
  </div>

  <div class="signup-box">
    <h2>Make a booking</h2>
    <form>
    <input type=>
    <%= link_to 'Make a booking', new_booking_path %>
  </div>

  </div>

  </div>

  <div>

  </div>
</div>
