<!DOCTYPE html>
<html>
  <head>
    <title>Eocene</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

  <div class="navbar">
    <%= link_to root_path, class: "navbar-brand" do %>
        <i class="fas fa-mountain"></i>
      <% end %>


    <div class="navbar-text">
      <h1>Eocene</h1>
      <p>Do more</p>
    </div>

    <%= link_to "Log in / Sign up", new_user_session_path, class: "btn btn-ghost" %>

  </div>


    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
